body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px; /* Increased width of the form */
    transition: transform 0.3s;
}
.form-container:hover {
    transform: scale(1.02);
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.3s;
}
.half-width {
    width: 49%; /* Adjusted width to create more space */
}
input:focus, textarea:focus {
    border: 1px solid #007bff;
    outline: none;
}
textarea {
    resize: vertical;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}